body{
	animation: backgroundColorChange 5s infinite;
	font-family: HelveticaNeue Light, Helvetica Regular, Helvetica, sans-serif;
	/*border: 1px solid black;*/ /*Not functioning correctly*/
}

/*animation code for glowing background on webpage
*light yellow to light purple and background*/
@keyframes backgroundColorChange{
	0%{background-color: #D5D2FD;}
	50%{background-color: #FAFDD2;}
	100%{background-color: #D5D2FD;}
}

.border{
	border: 1px solid black;
}

.center{
	text-align: center;
}

.left{
	float: left;
	max-width: 50%;
	margin-right: 2px;
}

.right{
	float: right;
	max-width: 49%;
	margin-left: 2px;
	margin-right: 10%;
}

.topBorder{
	border-top: 1px solid black;
	margin: 0;
	padding: 1px;
}

.bottomMenu{
	position: fixed;
	bottom: 10px;
	border: 1px dotted black;
	margin-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	background-color: white;
}

.bottomMenu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.bottomMenu li{
	display: inline;
	margin: 4px;
	padding: 0;
}

.bottomMenu li a{
	text-decoration: none;
}

.bottomMenu li a:link{
	color: #883333;
}

.bottomMenu li a:visited{
	color: #888888;
}

.bottomMenu li a:hover{
	color: #333388;
	animation: activeMenuLinkGlow 2s infinite linear reverse;
}

.bottomMenu li a:active{
	color: #ffffaa;
}

@keyframes activeMenuLinkGlow{
		0%{text-shadow: 0 0 0 rgba(0,0,0,1);}
		100%{text-shadow: 0 0 10px rgba(0,0,0,0);}
}

h1{
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 50px;
}

h2{
	text-decoration: underline;
	text-transform: capitalize;
	margin-bottom: 3px;
	padding-bottom: 0px;
}

p{
	font-size: small;
	text-align: justify;
	border: 1px solid black;
	padding: 4px;
	margin: 0 0 5px 0;
	height: 200px;	
	overflow: auto;
	box-shadow: 1px 1px 2px black;
}

.v-space{
	height: 500px;
}

.topToBottom{
	writing-mode: vertical-rl;
	font-size: 3em;
	font-weight: bold;
	font-style: italic;
	position: fixed;
	right: 30px;
	animation: topToBottomFlow 3s ease-in-out infinite alternate;
	margin-bottom: 50px;
	color: #9c2424;
	text-decoration: underline;
	overflow: hidden;
	background-color: rgba(90, 138, 83, 50%);
}

::selection{
	background-color:#ffffaa;
	color:#716e8f;
}

img::selection{
	background-color: rgba(177, 179, 111, 0.425);
	border-radius:25px;
}

.topToBottom::selection{
	background-color:rgb(119, 179, 85);
	color:#a51e1e;
}

@keyframes topToBottomFlow{
	0%{
		top: 10%;
	}
	100%{
		top: 60%;
	}
}

img{
	max-width: 90%;
	height: auto;
	margin:20px;
	transition: border-radius 1s;
	border: 1px dotted black;
}img:hover{
	border-radius:50%;
	animation: rotateIMG 3s 1s linear infinite, imgRadiate3 3s infinite;
}img:not(:hover){
	animation: rotateIMG 3s 1s linear infinite paused, imgRadiate3 3s infinite paused;
}

@keyframes rotateIMG{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

@keyframes imgFaintTremble{
0%{box-shadow: 0px 0px 1px gray;}
1%{box-shadow: 0px 0px 2px white;}
2%{box-shadow: 0px 0px 1px gray;}
3%{box-shadow: 0px 0px 2px white;}
4%{box-shadow: 0px 0px 1px gray;}
5%{box-shadow: 0px 0px 2px white;}
6%{box-shadow: 0px 0px 1px gray;}
7%{box-shadow: 0px 0px 2px white;}
8%{box-shadow: 0px 0px 1px gray;}
9%{box-shadow: 0px 0px 2px white;}
10%{box-shadow: 0px 0px 1px gray;}
11%{box-shadow: 0px 0px 2px white;}
12%{box-shadow: 0px 0px 1px gray;}
13%{box-shadow: 0px 0px 2px white;}
14%{box-shadow: 0px 0px 1px gray;}
15%{box-shadow: 0px 0px 2px white;}
16%{box-shadow: 0px 0px 1px gray;}
17%{box-shadow: 0px 0px 2px white;}
18%{box-shadow: 0px 0px 1px gray;}
19%{box-shadow: 0px 0px 2px white;}
20%{box-shadow: 0px 0px 1px gray;}
21%{box-shadow: 0px 0px 2px white;}
22%{box-shadow: 0px 0px 1px gray;}
23%{box-shadow: 0px 0px 2px white;}
24%{box-shadow: 0px 0px 1px gray;}
25%{box-shadow: 0px 0px 2px white;}
26%{box-shadow: 0px 0px 1px gray;}
27%{box-shadow: 0px 0px 2px white;}
28%{box-shadow: 0px 0px 1px gray;}
29%{box-shadow: 0px 0px 2px white;}
30%{box-shadow: 0px 0px 1px gray;}
31%{box-shadow: 0px 0px 2px white;}
32%{box-shadow: 0px 0px 1px gray;}
33%{box-shadow: 0px 0px 2px white;}
34%{box-shadow: 0px 0px 1px gray;}
35%{box-shadow: 0px 0px 2px white;}
36%{box-shadow: 0px 0px 1px gray;}
37%{box-shadow: 0px 0px 2px white;}
38%{box-shadow: 0px 0px 1px gray;}
39%{box-shadow: 0px 0px 2px white;}
40%{box-shadow: 0px 0px 1px gray;}
41%{box-shadow: 0px 0px 2px white;}
42%{box-shadow: 0px 0px 1px gray;}
43%{box-shadow: 0px 0px 2px white;}
44%{box-shadow: 0px 0px 1px gray;}
45%{box-shadow: 0px 0px 2px white;}
46%{box-shadow: 0px 0px 1px gray;}
47%{box-shadow: 0px 0px 2px white;}
48%{box-shadow: 0px 0px 1px gray;}
49%{box-shadow: 0px 0px 2px white;}
50%{box-shadow: 0px 0px 1px gray;}
51%{box-shadow: 0px 0px 2px white;}
52%{box-shadow: 0px 0px 1px gray;}
53%{box-shadow: 0px 0px 2px white;}
54%{box-shadow: 0px 0px 1px gray;}
55%{box-shadow: 0px 0px 2px white;}
56%{box-shadow: 0px 0px 1px gray;}
57%{box-shadow: 0px 0px 2px white;}
58%{box-shadow: 0px 0px 1px gray;}
59%{box-shadow: 0px 0px 2px white;}
60%{box-shadow: 0px 0px 1px gray;}
61%{box-shadow: 0px 0px 2px white;}
62%{box-shadow: 0px 0px 1px gray;}
63%{box-shadow: 0px 0px 2px white;}
64%{box-shadow: 0px 0px 1px gray;}
65%{box-shadow: 0px 0px 2px white;}
66%{box-shadow: 0px 0px 1px gray;}
67%{box-shadow: 0px 0px 2px white;}
68%{box-shadow: 0px 0px 1px gray;}
69%{box-shadow: 0px 0px 2px white;}
70%{box-shadow: 0px 0px 1px gray;}
71%{box-shadow: 0px 0px 2px white;}
72%{box-shadow: 0px 0px 1px gray;}
73%{box-shadow: 0px 0px 2px white;}
74%{box-shadow: 0px 0px 1px gray;}
75%{box-shadow: 0px 0px 2px white;}
76%{box-shadow: 0px 0px 1px gray;}
77%{box-shadow: 0px 0px 2px white;}
78%{box-shadow: 0px 0px 1px gray;}
79%{box-shadow: 0px 0px 2px white;}
80%{box-shadow: 0px 0px 1px gray;}
81%{box-shadow: 0px 0px 2px white;}
82%{box-shadow: 0px 0px 1px gray;}
83%{box-shadow: 0px 0px 2px white;}
84%{box-shadow: 0px 0px 1px gray;}
85%{box-shadow: 0px 0px 2px white;}
86%{box-shadow: 0px 0px 1px gray;}
87%{box-shadow: 0px 0px 2px white;}
88%{box-shadow: 0px 0px 1px gray;}
89%{box-shadow: 0px 0px 2px white;}
90%{box-shadow: 0px 0px 1px gray;}
91%{box-shadow: 0px 0px 2px white;}
92%{box-shadow: 0px 0px 1px gray;}
93%{box-shadow: 0px 0px 2px white;}
94%{box-shadow: 0px 0px 1px gray;}
95%{box-shadow: 0px 0px 2px white;}
96%{box-shadow: 0px 0px 1px gray;}
97%{box-shadow: 0px 0px 2px white;}
98%{box-shadow: 0px 0px 1px gray;}
99%{box-shadow: 0px 0px 2px white;}
100%{box-shadow: 0px 0px 1px gray;}
}

@keyframes imgShimmer{
0%{box-shadow: 0px 0px 1px black;}
1%{box-shadow: 0px 0px 5px red;}
2%{box-shadow: 0px 0px 1px black;}
3%{box-shadow: 0px 0px 5px red;}
4%{box-shadow: 0px 0px 1px black;}
5%{box-shadow: 0px 0px 5px red;}
6%{box-shadow: 0px 0px 1px black;}
7%{box-shadow: 0px 0px 5px red;}
8%{box-shadow: 0px 0px 1px black;}
9%{box-shadow: 0px 0px 5px red;}
10%{box-shadow: 0px 0px 1px black;}
11%{box-shadow: 0px 0px 5px red;}
12%{box-shadow: 0px 0px 1px black;}
13%{box-shadow: 0px 0px 5px red;}
14%{box-shadow: 0px 0px 1px black;}
15%{box-shadow: 0px 0px 5px red;}
16%{box-shadow: 0px 0px 1px black;}
17%{box-shadow: 0px 0px 5px red;}
18%{box-shadow: 0px 0px 1px black;}
19%{box-shadow: 0px 0px 5px red;}
20%{box-shadow: 0px 0px 1px black;}
21%{box-shadow: 0px 0px 5px red;}
22%{box-shadow: 0px 0px 1px black;}
23%{box-shadow: 0px 0px 5px red;}
24%{box-shadow: 0px 0px 1px black;}
25%{box-shadow: 0px 0px 5px red;}
26%{box-shadow: 0px 0px 1px black;}
27%{box-shadow: 0px 0px 5px red;}
28%{box-shadow: 0px 0px 1px black;}
29%{box-shadow: 0px 0px 5px red;}
30%{box-shadow: 0px 0px 1px black;}
31%{box-shadow: 0px 0px 5px red;}
32%{box-shadow: 0px 0px 1px black;}
33%{box-shadow: 0px 0px 5px red;}
34%{box-shadow: 0px 0px 1px black;}
35%{box-shadow: 0px 0px 5px red;}
36%{box-shadow: 0px 0px 1px black;}
37%{box-shadow: 0px 0px 5px red;}
38%{box-shadow: 0px 0px 1px black;}
39%{box-shadow: 0px 0px 5px red;}
40%{box-shadow: 0px 0px 1px black;}
41%{box-shadow: 0px 0px 5px red;}
42%{box-shadow: 0px 0px 1px black;}
43%{box-shadow: 0px 0px 5px red;}
44%{box-shadow: 0px 0px 1px black;}
45%{box-shadow: 0px 0px 5px red;}
46%{box-shadow: 0px 0px 1px black;}
47%{box-shadow: 0px 0px 5px red;}
48%{box-shadow: 0px 0px 1px black;}
49%{box-shadow: 0px 0px 5px red;}
50%{box-shadow: 0px 0px 1px black;}
51%{box-shadow: 0px 0px 5px red;}
52%{box-shadow: 0px 0px 1px black;}
53%{box-shadow: 0px 0px 5px red;}
54%{box-shadow: 0px 0px 1px black;}
55%{box-shadow: 0px 0px 5px red;}
56%{box-shadow: 0px 0px 1px black;}
57%{box-shadow: 0px 0px 5px red;}
58%{box-shadow: 0px 0px 1px black;}
59%{box-shadow: 0px 0px 5px red;}
60%{box-shadow: 0px 0px 1px black;}
61%{box-shadow: 0px 0px 5px red;}
62%{box-shadow: 0px 0px 1px black;}
63%{box-shadow: 0px 0px 5px red;}
64%{box-shadow: 0px 0px 1px black;}
65%{box-shadow: 0px 0px 5px red;}
66%{box-shadow: 0px 0px 1px black;}
67%{box-shadow: 0px 0px 5px red;}
68%{box-shadow: 0px 0px 1px black;}
69%{box-shadow: 0px 0px 5px red;}
70%{box-shadow: 0px 0px 1px black;}
71%{box-shadow: 0px 0px 5px red;}
72%{box-shadow: 0px 0px 1px black;}
73%{box-shadow: 0px 0px 5px red;}
74%{box-shadow: 0px 0px 1px black;}
75%{box-shadow: 0px 0px 5px red;}
76%{box-shadow: 0px 0px 1px black;}
77%{box-shadow: 0px 0px 5px red;}
78%{box-shadow: 0px 0px 1px black;}
79%{box-shadow: 0px 0px 5px red;}
80%{box-shadow: 0px 0px 1px black;}
81%{box-shadow: 0px 0px 5px red;}
82%{box-shadow: 0px 0px 1px black;}
83%{box-shadow: 0px 0px 5px red;}
84%{box-shadow: 0px 0px 1px black;}
85%{box-shadow: 0px 0px 5px red;}
86%{box-shadow: 0px 0px 1px black;}
87%{box-shadow: 0px 0px 5px red;}
88%{box-shadow: 0px 0px 1px black;}
89%{box-shadow: 0px 0px 5px red;}
90%{box-shadow: 0px 0px 1px black;}
91%{box-shadow: 0px 0px 5px red;}
92%{box-shadow: 0px 0px 1px black;}
93%{box-shadow: 0px 0px 5px red;}
94%{box-shadow: 0px 0px 1px black;}
95%{box-shadow: 0px 0px 5px red;}
96%{box-shadow: 0px 0px 1px black;}
97%{box-shadow: 0px 0px 5px red;}
98%{box-shadow: 0px 0px 1px black;}
99%{box-shadow: 0px 0px 5px red;}
100%{box-shadow: 0px 0px 1px black;}
}

@keyframes imgRadiate{
0%{box-shadow: 0px 0px 1px black;}
1%{box-shadow: 0px 0px 5px red;}
2%{box-shadow: 0px 0px 10px green;}
3%{box-shadow: 0px 0px 20px yellow;}
4%{box-shadow: 0px 0px 1px black;}
5%{box-shadow: 0px 0px 5px red;}
6%{box-shadow: 0px 0px 10px green;}
7%{box-shadow: 0px 0px 20px yellow;}
8%{box-shadow: 0px 0px 1px black;}
9%{box-shadow: 0px 0px 5px red;}
10%{box-shadow: 0px 0px 10px green;}
11%{box-shadow: 0px 0px 20px yellow;}
12%{box-shadow: 0px 0px 1px black;}
13%{box-shadow: 0px 0px 5px red;}
14%{box-shadow: 0px 0px 10px green;}
15%{box-shadow: 0px 0px 20px yellow;}
16%{box-shadow: 0px 0px 1px black;}
17%{box-shadow: 0px 0px 5px red;}
18%{box-shadow: 0px 0px 10px green;}
19%{box-shadow: 0px 0px 20px yellow;}
20%{box-shadow: 0px 0px 1px black;}
21%{box-shadow: 0px 0px 5px red;}
22%{box-shadow: 0px 0px 10px green;}
23%{box-shadow: 0px 0px 20px yellow;}
24%{box-shadow: 0px 0px 1px black;}
25%{box-shadow: 0px 0px 5px red;}
26%{box-shadow: 0px 0px 10px green;}
27%{box-shadow: 0px 0px 20px yellow;}
28%{box-shadow: 0px 0px 1px black;}
29%{box-shadow: 0px 0px 5px red;}
30%{box-shadow: 0px 0px 10px green;}
31%{box-shadow: 0px 0px 20px yellow;}
32%{box-shadow: 0px 0px 1px black;}
33%{box-shadow: 0px 0px 5px red;}
34%{box-shadow: 0px 0px 10px green;}
35%{box-shadow: 0px 0px 20px yellow;}
36%{box-shadow: 0px 0px 1px black;}
37%{box-shadow: 0px 0px 5px red;}
38%{box-shadow: 0px 0px 10px green;}
39%{box-shadow: 0px 0px 20px yellow;}
40%{box-shadow: 0px 0px 1px black;}
41%{box-shadow: 0px 0px 5px red;}
42%{box-shadow: 0px 0px 10px green;}
43%{box-shadow: 0px 0px 20px yellow;}
44%{box-shadow: 0px 0px 1px black;}
45%{box-shadow: 0px 0px 5px red;}
46%{box-shadow: 0px 0px 10px green;}
47%{box-shadow: 0px 0px 20px yellow;}
48%{box-shadow: 0px 0px 1px black;}
49%{box-shadow: 0px 0px 5px red;}
50%{box-shadow: 0px 0px 10px green;}
51%{box-shadow: 0px 0px 20px yellow;}
52%{box-shadow: 0px 0px 1px black;}
53%{box-shadow: 0px 0px 5px red;}
54%{box-shadow: 0px 0px 10px green;}
55%{box-shadow: 0px 0px 20px yellow;}
56%{box-shadow: 0px 0px 1px black;}
57%{box-shadow: 0px 0px 5px red;}
58%{box-shadow: 0px 0px 10px green;}
59%{box-shadow: 0px 0px 20px yellow;}
60%{box-shadow: 0px 0px 1px black;}
61%{box-shadow: 0px 0px 5px red;}
62%{box-shadow: 0px 0px 10px green;}
63%{box-shadow: 0px 0px 20px yellow;}
64%{box-shadow: 0px 0px 1px black;}
65%{box-shadow: 0px 0px 5px red;}
66%{box-shadow: 0px 0px 10px green;}
67%{box-shadow: 0px 0px 20px yellow;}
68%{box-shadow: 0px 0px 1px black;}
69%{box-shadow: 0px 0px 5px red;}
70%{box-shadow: 0px 0px 10px green;}
71%{box-shadow: 0px 0px 20px yellow;}
72%{box-shadow: 0px 0px 1px black;}
73%{box-shadow: 0px 0px 5px red;}
74%{box-shadow: 0px 0px 10px green;}
75%{box-shadow: 0px 0px 20px yellow;}
76%{box-shadow: 0px 0px 1px black;}
77%{box-shadow: 0px 0px 5px red;}
78%{box-shadow: 0px 0px 10px green;}
79%{box-shadow: 0px 0px 20px yellow;}
80%{box-shadow: 0px 0px 1px black;}
81%{box-shadow: 0px 0px 5px red;}
82%{box-shadow: 0px 0px 10px green;}
83%{box-shadow: 0px 0px 20px yellow;}
84%{box-shadow: 0px 0px 1px black;}
85%{box-shadow: 0px 0px 5px red;}
86%{box-shadow: 0px 0px 10px green;}
87%{box-shadow: 0px 0px 20px yellow;}
88%{box-shadow: 0px 0px 1px black;}
89%{box-shadow: 0px 0px 5px red;}
90%{box-shadow: 0px 0px 10px green;}
91%{box-shadow: 0px 0px 20px yellow;}
92%{box-shadow: 0px 0px 1px black;}
93%{box-shadow: 0px 0px 5px red;}
94%{box-shadow: 0px 0px 10px green;}
95%{box-shadow: 0px 0px 20px yellow;}
96%{box-shadow: 0px 0px 1px black;}
97%{box-shadow: 0px 0px 5px red;}
98%{box-shadow: 0px 0px 10px green;}
99%{box-shadow: 0px 0px 20px yellow;}
100%{box-shadow: 0px 0px 1px black;}
}

@keyframes imgRadiate2{
0%{box-shadow: 0px 0px 0px white;}
1%{box-shadow: 0px 0px 5px red;}
2%{box-shadow: 0px 0px 10px blue;}
3%{box-shadow: 0px 0px 20px green;}
4%{box-shadow: 0px 0px 30px #eegghh;}
5%{box-shadow: 0px 0px 0px white;}
6%{box-shadow: 0px 0px 5px red;}
7%{box-shadow: 0px 0px 10px blue;}
8%{box-shadow: 0px 0px 20px green;}
9%{box-shadow: 0px 0px 30px #eegghh;}
10%{box-shadow: 0px 0px 0px white;}
11%{box-shadow: 0px 0px 5px red;}
12%{box-shadow: 0px 0px 10px blue;}
13%{box-shadow: 0px 0px 20px green;}
14%{box-shadow: 0px 0px 30px #eegghh;}
15%{box-shadow: 0px 0px 0px white;}
16%{box-shadow: 0px 0px 5px red;}
17%{box-shadow: 0px 0px 10px blue;}
18%{box-shadow: 0px 0px 20px green;}
19%{box-shadow: 0px 0px 30px #eegghh;}
20%{box-shadow: 0px 0px 0px white;}
21%{box-shadow: 0px 0px 5px red;}
22%{box-shadow: 0px 0px 10px blue;}
23%{box-shadow: 0px 0px 20px green;}
24%{box-shadow: 0px 0px 30px #eegghh;}
25%{box-shadow: 0px 0px 0px white;}
26%{box-shadow: 0px 0px 5px red;}
27%{box-shadow: 0px 0px 10px blue;}
28%{box-shadow: 0px 0px 20px green;}
29%{box-shadow: 0px 0px 30px #eegghh;}
30%{box-shadow: 0px 0px 0px white;}
31%{box-shadow: 0px 0px 5px red;}
32%{box-shadow: 0px 0px 10px blue;}
33%{box-shadow: 0px 0px 20px green;}
34%{box-shadow: 0px 0px 30px #eegghh;}
35%{box-shadow: 0px 0px 0px white;}
36%{box-shadow: 0px 0px 5px red;}
37%{box-shadow: 0px 0px 10px blue;}
38%{box-shadow: 0px 0px 20px green;}
39%{box-shadow: 0px 0px 30px #eegghh;}
40%{box-shadow: 0px 0px 0px white;}
41%{box-shadow: 0px 0px 5px red;}
42%{box-shadow: 0px 0px 10px blue;}
43%{box-shadow: 0px 0px 20px green;}
44%{box-shadow: 0px 0px 30px #eegghh;}
45%{box-shadow: 0px 0px 0px white;}
46%{box-shadow: 0px 0px 5px red;}
47%{box-shadow: 0px 0px 10px blue;}
48%{box-shadow: 0px 0px 20px green;}
49%{box-shadow: 0px 0px 30px #eegghh;}
50%{box-shadow: 0px 0px 0px white;}
51%{box-shadow: 0px 0px 5px red;}
52%{box-shadow: 0px 0px 10px blue;}
53%{box-shadow: 0px 0px 20px green;}
54%{box-shadow: 0px 0px 30px #eegghh;}
55%{box-shadow: 0px 0px 0px white;}
56%{box-shadow: 0px 0px 5px red;}
57%{box-shadow: 0px 0px 10px blue;}
58%{box-shadow: 0px 0px 20px green;}
59%{box-shadow: 0px 0px 30px #eegghh;}
60%{box-shadow: 0px 0px 0px white;}
61%{box-shadow: 0px 0px 5px red;}
62%{box-shadow: 0px 0px 10px blue;}
63%{box-shadow: 0px 0px 20px green;}
64%{box-shadow: 0px 0px 30px #eegghh;}
65%{box-shadow: 0px 0px 0px white;}
66%{box-shadow: 0px 0px 5px red;}
67%{box-shadow: 0px 0px 10px blue;}
68%{box-shadow: 0px 0px 20px green;}
69%{box-shadow: 0px 0px 30px #eegghh;}
70%{box-shadow: 0px 0px 0px white;}
71%{box-shadow: 0px 0px 5px red;}
72%{box-shadow: 0px 0px 10px blue;}
73%{box-shadow: 0px 0px 20px green;}
74%{box-shadow: 0px 0px 30px #eegghh;}
75%{box-shadow: 0px 0px 0px white;}
76%{box-shadow: 0px 0px 5px red;}
77%{box-shadow: 0px 0px 10px blue;}
78%{box-shadow: 0px 0px 20px green;}
79%{box-shadow: 0px 0px 30px #eegghh;}
80%{box-shadow: 0px 0px 0px white;}
81%{box-shadow: 0px 0px 5px red;}
82%{box-shadow: 0px 0px 10px blue;}
83%{box-shadow: 0px 0px 20px green;}
84%{box-shadow: 0px 0px 30px #eegghh;}
85%{box-shadow: 0px 0px 0px white;}
86%{box-shadow: 0px 0px 5px red;}
87%{box-shadow: 0px 0px 10px blue;}
88%{box-shadow: 0px 0px 20px green;}
89%{box-shadow: 0px 0px 30px #eegghh;}
90%{box-shadow: 0px 0px 0px white;}
91%{box-shadow: 0px 0px 5px red;}
92%{box-shadow: 0px 0px 10px blue;}
93%{box-shadow: 0px 0px 20px green;}
94%{box-shadow: 0px 0px 30px #eegghh;}
95%{box-shadow: 0px 0px 0px white;}
96%{box-shadow: 0px 0px 5px red;}
97%{box-shadow: 0px 0px 10px blue;}
98%{box-shadow: 0px 0px 20px green;}
99%{box-shadow: 0px 0px 30px #eegghh;}
100%{box-shadow: 0px 0px 0px white;}
}

@keyframes imgRadiate3{
0%{box-shadow: 0px 0px 0px white;}
1%{box-shadow: 0px 0px 100px red;}
2%{box-shadow: 0px 0px 10px blue;}
3%{box-shadow: 0px 0px 50px green;}
4%{box-shadow: 0px 0px 10px gray;}
5%{box-shadow: 0px 0px 0px white;}
6%{box-shadow: 0px 0px 100px red;}
7%{box-shadow: 0px 0px 10px blue;}
8%{box-shadow: 0px 0px 50px green;}
9%{box-shadow: 0px 0px 10px gray;}
10%{box-shadow: 0px 0px 0px white;}
11%{box-shadow: 0px 0px 100px red;}
12%{box-shadow: 0px 0px 10px blue;}
13%{box-shadow: 0px 0px 50px green;}
14%{box-shadow: 0px 0px 10px gray;}
15%{box-shadow: 0px 0px 0px white;}
16%{box-shadow: 0px 0px 100px red;}
17%{box-shadow: 0px 0px 10px blue;}
18%{box-shadow: 0px 0px 50px green;}
19%{box-shadow: 0px 0px 10px gray;}
20%{box-shadow: 0px 0px 0px white;}
21%{box-shadow: 0px 0px 100px red;}
22%{box-shadow: 0px 0px 10px blue;}
23%{box-shadow: 0px 0px 50px green;}
24%{box-shadow: 0px 0px 10px gray;}
25%{box-shadow: 0px 0px 0px white;}
26%{box-shadow: 0px 0px 100px red;}
27%{box-shadow: 0px 0px 10px blue;}
28%{box-shadow: 0px 0px 50px green;}
29%{box-shadow: 0px 0px 10px gray;}
30%{box-shadow: 0px 0px 0px white;}
31%{box-shadow: 0px 0px 100px red;}
32%{box-shadow: 0px 0px 10px blue;}
33%{box-shadow: 0px 0px 50px green;}
34%{box-shadow: 0px 0px 10px gray;}
35%{box-shadow: 0px 0px 0px white;}
36%{box-shadow: 0px 0px 100px red;}
37%{box-shadow: 0px 0px 10px blue;}
38%{box-shadow: 0px 0px 50px green;}
39%{box-shadow: 0px 0px 10px gray;}
40%{box-shadow: 0px 0px 0px white;}
41%{box-shadow: 0px 0px 100px red;}
42%{box-shadow: 0px 0px 10px blue;}
43%{box-shadow: 0px 0px 50px green;}
44%{box-shadow: 0px 0px 10px gray;}
45%{box-shadow: 0px 0px 0px white;}
46%{box-shadow: 0px 0px 100px red;}
47%{box-shadow: 0px 0px 10px blue;}
48%{box-shadow: 0px 0px 50px green;}
49%{box-shadow: 0px 0px 10px gray;}
50%{box-shadow: 0px 0px 0px white;}
51%{box-shadow: 0px 0px 100px red;}
52%{box-shadow: 0px 0px 10px blue;}
53%{box-shadow: 0px 0px 50px green;}
54%{box-shadow: 0px 0px 10px gray;}
55%{box-shadow: 0px 0px 0px white;}
56%{box-shadow: 0px 0px 100px red;}
57%{box-shadow: 0px 0px 10px blue;}
58%{box-shadow: 0px 0px 50px green;}
59%{box-shadow: 0px 0px 10px gray;}
60%{box-shadow: 0px 0px 0px white;}
61%{box-shadow: 0px 0px 100px red;}
62%{box-shadow: 0px 0px 10px blue;}
63%{box-shadow: 0px 0px 50px green;}
64%{box-shadow: 0px 0px 10px gray;}
65%{box-shadow: 0px 0px 0px white;}
66%{box-shadow: 0px 0px 100px red;}
67%{box-shadow: 0px 0px 10px blue;}
68%{box-shadow: 0px 0px 50px green;}
69%{box-shadow: 0px 0px 10px gray;}
70%{box-shadow: 0px 0px 0px white;}
71%{box-shadow: 0px 0px 100px red;}
72%{box-shadow: 0px 0px 10px blue;}
73%{box-shadow: 0px 0px 50px green;}
74%{box-shadow: 0px 0px 10px gray;}
75%{box-shadow: 0px 0px 0px white;}
76%{box-shadow: 0px 0px 100px red;}
77%{box-shadow: 0px 0px 10px blue;}
78%{box-shadow: 0px 0px 50px green;}
79%{box-shadow: 0px 0px 10px gray;}
80%{box-shadow: 0px 0px 0px white;}
81%{box-shadow: 0px 0px 100px red;}
82%{box-shadow: 0px 0px 10px blue;}
83%{box-shadow: 0px 0px 50px green;}
84%{box-shadow: 0px 0px 10px gray;}
85%{box-shadow: 0px 0px 0px white;}
86%{box-shadow: 0px 0px 100px red;}
87%{box-shadow: 0px 0px 10px blue;}
88%{box-shadow: 0px 0px 50px green;}
89%{box-shadow: 0px 0px 10px gray;}
90%{box-shadow: 0px 0px 0px white;}
91%{box-shadow: 0px 0px 100px red;}
92%{box-shadow: 0px 0px 10px blue;}
93%{box-shadow: 0px 0px 50px green;}
94%{box-shadow: 0px 0px 10px gray;}
95%{box-shadow: 0px 0px 0px white;}
96%{box-shadow: 0px 0px 100px red;}
97%{box-shadow: 0px 0px 10px blue;}
98%{box-shadow: 0px 0px 50px green;}
99%{box-shadow: 0px 0px 10px gray;}
100%{box-shadow: 0px 0px 0px white;}
}
@keyframes imgRadiate4{
0%{box-shadow: 0px 0px 46px RGBA(239, 63, 254, 0.796385406954871);}
1%{box-shadow: 0px 0px 15px RGBA(122, 159, 33, 0.9259143233772784);}
2%{box-shadow: 0px 0px 47px RGBA(214, 90, 11, 0.6531620720987396);}
3%{box-shadow: 0px 0px 31px RGBA(238, 91, 179, 0.8930388235501349);}
4%{box-shadow: 0px 0px 32px RGBA(128, 68, 43, 0.5408522023454827);}
5%{box-shadow: 0px 0px 14px RGBA(223, 209, 78, 0.7648076649140397);}
6%{box-shadow: 0px 0px 3px RGBA(218, 165, 178, 0.058908538238688246);}
7%{box-shadow: 0px 0px 86px RGBA(243, 130, 61, 0.9428806388494705);}
8%{box-shadow: 0px 0px 56px RGBA(129, 185, 163, 0.5364195669149239);}
9%{box-shadow: 0px 0px 55px RGBA(179, 69, 131, 0.45825577473901047);}
10%{box-shadow: 0px 0px 46px RGBA(239, 63, 254, 0.796385406954871);}
11%{box-shadow: 0px 0px 15px RGBA(122, 159, 33, 0.9259143233772784);}
12%{box-shadow: 0px 0px 47px RGBA(214, 90, 11, 0.6531620720987396);}
13%{box-shadow: 0px 0px 31px RGBA(238, 91, 179, 0.8930388235501349);}
14%{box-shadow: 0px 0px 32px RGBA(128, 68, 43, 0.5408522023454827);}
15%{box-shadow: 0px 0px 14px RGBA(223, 209, 78, 0.7648076649140397);}
16%{box-shadow: 0px 0px 3px RGBA(218, 165, 178, 0.058908538238688246);}
17%{box-shadow: 0px 0px 86px RGBA(243, 130, 61, 0.9428806388494705);}
18%{box-shadow: 0px 0px 56px RGBA(129, 185, 163, 0.5364195669149239);}
19%{box-shadow: 0px 0px 55px RGBA(179, 69, 131, 0.45825577473901047);}
20%{box-shadow: 0px 0px 46px RGBA(239, 63, 254, 0.796385406954871);}
21%{box-shadow: 0px 0px 15px RGBA(122, 159, 33, 0.9259143233772784);}
22%{box-shadow: 0px 0px 47px RGBA(214, 90, 11, 0.6531620720987396);}
23%{box-shadow: 0px 0px 31px RGBA(238, 91, 179, 0.8930388235501349);}
24%{box-shadow: 0px 0px 32px RGBA(128, 68, 43, 0.5408522023454827);}
25%{box-shadow: 0px 0px 14px RGBA(223, 209, 78, 0.7648076649140397);}
26%{box-shadow: 0px 0px 3px RGBA(218, 165, 178, 0.058908538238688246);}
27%{box-shadow: 0px 0px 86px RGBA(243, 130, 61, 0.9428806388494705);}
28%{box-shadow: 0px 0px 56px RGBA(129, 185, 163, 0.5364195669149239);}
29%{box-shadow: 0px 0px 55px RGBA(179, 69, 131, 0.45825577473901047);}
30%{box-shadow: 0px 0px 46px RGBA(239, 63, 254, 0.796385406954871);}
31%{box-shadow: 0px 0px 15px RGBA(122, 159, 33, 0.9259143233772784);}
32%{box-shadow: 0px 0px 47px RGBA(214, 90, 11, 0.6531620720987396);}
33%{box-shadow: 0px 0px 31px RGBA(238, 91, 179, 0.8930388235501349);}
34%{box-shadow: 0px 0px 32px RGBA(128, 68, 43, 0.5408522023454827);}
35%{box-shadow: 0px 0px 14px RGBA(223, 209, 78, 0.7648076649140397);}
36%{box-shadow: 0px 0px 3px RGBA(218, 165, 178, 0.058908538238688246);}
37%{box-shadow: 0px 0px 86px RGBA(243, 130, 61, 0.9428806388494705);}
38%{box-shadow: 0px 0px 56px RGBA(129, 185, 163, 0.5364195669149239);}
39%{box-shadow: 0px 0px 55px RGBA(179, 69, 131, 0.45825577473901047);}
40%{box-shadow: 0px 0px 46px RGBA(239, 63, 254, 0.796385406954871);}
41%{box-shadow: 0px 0px 15px RGBA(122, 159, 33, 0.9259143233772784);}
42%{box-shadow: 0px 0px 47px RGBA(214, 90, 11, 0.6531620720987396);}
43%{box-shadow: 0px 0px 31px RGBA(238, 91, 179, 0.8930388235501349);}
44%{box-shadow: 0px 0px 32px RGBA(128, 68, 43, 0.5408522023454827);}
45%{box-shadow: 0px 0px 14px RGBA(223, 209, 78, 0.7648076649140397);}
46%{box-shadow: 0px 0px 3px RGBA(218, 165, 178, 0.058908538238688246);}
47%{box-shadow: 0px 0px 86px RGBA(243, 130, 61, 0.9428806388494705);}
48%{box-shadow: 0px 0px 56px RGBA(129, 185, 163, 0.5364195669149239);}
49%{box-shadow: 0px 0px 55px RGBA(179, 69, 131, 0.45825577473901047);}
50%{box-shadow: 0px 0px 46px RGBA(239, 63, 254, 0.796385406954871);}
51%{box-shadow: 0px 0px 15px RGBA(122, 159, 33, 0.9259143233772784);}
52%{box-shadow: 0px 0px 47px RGBA(214, 90, 11, 0.6531620720987396);}
53%{box-shadow: 0px 0px 31px RGBA(238, 91, 179, 0.8930388235501349);}
54%{box-shadow: 0px 0px 32px RGBA(128, 68, 43, 0.5408522023454827);}
55%{box-shadow: 0px 0px 14px RGBA(223, 209, 78, 0.7648076649140397);}
56%{box-shadow: 0px 0px 3px RGBA(218, 165, 178, 0.058908538238688246);}
57%{box-shadow: 0px 0px 86px RGBA(243, 130, 61, 0.9428806388494705);}
58%{box-shadow: 0px 0px 56px RGBA(129, 185, 163, 0.5364195669149239);}
59%{box-shadow: 0px 0px 55px RGBA(179, 69, 131, 0.45825577473901047);}
60%{box-shadow: 0px 0px 46px RGBA(239, 63, 254, 0.796385406954871);}
61%{box-shadow: 0px 0px 15px RGBA(122, 159, 33, 0.9259143233772784);}
62%{box-shadow: 0px 0px 47px RGBA(214, 90, 11, 0.6531620720987396);}
63%{box-shadow: 0px 0px 31px RGBA(238, 91, 179, 0.8930388235501349);}
64%{box-shadow: 0px 0px 32px RGBA(128, 68, 43, 0.5408522023454827);}
65%{box-shadow: 0px 0px 14px RGBA(223, 209, 78, 0.7648076649140397);}
66%{box-shadow: 0px 0px 3px RGBA(218, 165, 178, 0.058908538238688246);}
67%{box-shadow: 0px 0px 86px RGBA(243, 130, 61, 0.9428806388494705);}
68%{box-shadow: 0px 0px 56px RGBA(129, 185, 163, 0.5364195669149239);}
69%{box-shadow: 0px 0px 55px RGBA(179, 69, 131, 0.45825577473901047);}
70%{box-shadow: 0px 0px 46px RGBA(239, 63, 254, 0.796385406954871);}
71%{box-shadow: 0px 0px 15px RGBA(122, 159, 33, 0.9259143233772784);}
72%{box-shadow: 0px 0px 47px RGBA(214, 90, 11, 0.6531620720987396);}
73%{box-shadow: 0px 0px 31px RGBA(238, 91, 179, 0.8930388235501349);}
74%{box-shadow: 0px 0px 32px RGBA(128, 68, 43, 0.5408522023454827);}
75%{box-shadow: 0px 0px 14px RGBA(223, 209, 78, 0.7648076649140397);}
76%{box-shadow: 0px 0px 3px RGBA(218, 165, 178, 0.058908538238688246);}
77%{box-shadow: 0px 0px 86px RGBA(243, 130, 61, 0.9428806388494705);}
78%{box-shadow: 0px 0px 56px RGBA(129, 185, 163, 0.5364195669149239);}
79%{box-shadow: 0px 0px 55px RGBA(179, 69, 131, 0.45825577473901047);}
80%{box-shadow: 0px 0px 46px RGBA(239, 63, 254, 0.796385406954871);}
81%{box-shadow: 0px 0px 15px RGBA(122, 159, 33, 0.9259143233772784);}
82%{box-shadow: 0px 0px 47px RGBA(214, 90, 11, 0.6531620720987396);}
83%{box-shadow: 0px 0px 31px RGBA(238, 91, 179, 0.8930388235501349);}
84%{box-shadow: 0px 0px 32px RGBA(128, 68, 43, 0.5408522023454827);}
85%{box-shadow: 0px 0px 14px RGBA(223, 209, 78, 0.7648076649140397);}
86%{box-shadow: 0px 0px 3px RGBA(218, 165, 178, 0.058908538238688246);}
87%{box-shadow: 0px 0px 86px RGBA(243, 130, 61, 0.9428806388494705);}
88%{box-shadow: 0px 0px 56px RGBA(129, 185, 163, 0.5364195669149239);}
89%{box-shadow: 0px 0px 55px RGBA(179, 69, 131, 0.45825577473901047);}
90%{box-shadow: 0px 0px 46px RGBA(239, 63, 254, 0.796385406954871);}
91%{box-shadow: 0px 0px 15px RGBA(122, 159, 33, 0.9259143233772784);}
92%{box-shadow: 0px 0px 47px RGBA(214, 90, 11, 0.6531620720987396);}
93%{box-shadow: 0px 0px 31px RGBA(238, 91, 179, 0.8930388235501349);}
94%{box-shadow: 0px 0px 32px RGBA(128, 68, 43, 0.5408522023454827);}
95%{box-shadow: 0px 0px 14px RGBA(223, 209, 78, 0.7648076649140397);}
96%{box-shadow: 0px 0px 3px RGBA(218, 165, 178, 0.058908538238688246);}
97%{box-shadow: 0px 0px 86px RGBA(243, 130, 61, 0.9428806388494705);}
98%{box-shadow: 0px 0px 56px RGBA(129, 185, 163, 0.5364195669149239);}
99%{box-shadow: 0px 0px 55px RGBA(179, 69, 131, 0.45825577473901047);}
100%{box-shadow: 0px 0px 46px RGBA(239, 63, 254, 0.796385406954871);}
}